{% if product.type == 'Fabric' %}
  {% comment %}
    Lets grab the paid samples
  {% endcomment %}
  
  <div class="samples paid">
  {% paginate collections["fabric-samples"].products by 10000 %}
  
  {% comment %}
  {%- assign match1 = product.handle | replace_first: 'f','8' -%}
  {%- assign match2 = match1 | append: 'z2' -%}
  {% endcomment %}
  {%- assign match2 = product.handle | append: '-sample' -%}
  {% for sample in collections.fabric-samples.products %}
  {% if sample.handle == match2 %}
  <product-form class="product-form {{ sample.handle }}">

    {%- form 'product', product, id: product_form_id'-sample', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" value="{{ sample.selected_or_first_available_variant.id }}">
      <div class="product-form__buttons">
        <button
          type="submit"
          name="add"
          class="product-form__submit button nude sample_add"
        {% if sample.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
        {% include 'icon-sample' %}
        <span class="sample_button_text">
          {%- if sample.selected_or_first_available_variant.available -%}
            Order Sample <br>{{ sample.price | money }}
          {%- else -%}
            Samples unavailable
          {%- endif -%}
      </span>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </button>
      </div>
    {%- endform -%}
  </product-form>
    {% break %}
  {% endif %}
  {% endfor %}
  {% endpaginate %}
  </div>
  <div class="samples free">
    {% paginate collections["free-fabric-samples"].products by 10000 %}
    
    {% comment %}
    {%- assign matchf1 = product.handle | replace_first: 'f','8' -%}
    {%- assign matchf2 = matchf1 | append: 'z1' -%}
    {% endcomment %}
    
    {%- assign matchf2 = product.handle | append: '-freesample' -%}
    {% for sample in collections.free-fabric-samples.products %}
    {% if sample.handle == matchf2 %}
    
      <product-form class="product-form {{ sample.handle }}">
    
        {%- form 'product', product, id: product_form_id'-freesample', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" value="{{ sample.selected_or_first_available_variant.id }}">
          <div class="product-form__buttons">
            <button
            type="submit"
            name="add"
            class="product-form__submit button nude sample_add"
          {% if sample.selected_or_first_available_variant.available == false %}disabled{% endif %}
          >
          {% include 'icon-sample' %}
          <span class="sample_button_text">
              {%- if sample.selected_or_first_available_variant.available -%}
                Order Sample <br>{{ sample.price | money }}
              {%- else -%}
                Samples unavailable
              {%- endif -%}
          </span>
              <div class="loading-overlay__spinner hidden">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
          </button>
          </div>
        {%- endform -%}
      </product-form>
      {% break %}
    {% endif %}
    {% endfor %}
    {% endpaginate %}
  </div>

{% elsif product.type == 'Wallpaper' %}
{% comment %}
  Lets grab the paid samples
{% endcomment %}

<div class="samples paid wallpaper">
{% paginate collections["wallpaper-samples"].products by 10000 %}


{% comment %}
{%- assign matchw1 = product.handle | replace_first: 'w','9' -%}
{%- assign matchw2 = matchw1 | append: 'z2' -%}
{% endcomment %}

{%- assign matchw2 = product.handle | append: '-sample' -%}

{% for sample in collections.wallpaper-samples.products %}

{% if sample.handle == matchw2 %}

<product-form class="product-form {{ sample.handle }}">

  {%- form 'product', product, id: product_form_id'-sample', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input type="hidden" name="id" value="{{ sample.selected_or_first_available_variant.id }}">
    <div class="product-form__buttons">
      <button
        type="submit"
        name="add"
        class="product-form__submit button nude sample_add"
      {% if sample.selected_or_first_available_variant.available == false %}disabled{% endif %}
      >
      {% include 'icon-sample' %}
      <span class="sample_button_text">
        {%- if sample.selected_or_first_available_variant.available -%}
          Order Sample <br>{{ sample.price | money }}
        {%- else -%}
          Samples unavailable
        {%- endif -%}
    </span>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
      </button>
    </div>
  {%- endform -%}
</product-form>
  {% break %}
{% endif %}
{% endfor %}
{% endpaginate %}
</div>
<div class="samples free wallpaper">
  
  {% paginate collections["free-wallpaper-samples"].products by 10000 %}
  
  {% comment %}
  {%- assign matchwf1 = product.handle | replace_first: 'w','9' -%}
  {%- assign matchwf2 = matchwf1 | append: 'z1' -%}
  {% endcomment %}
  
  {%- assign matchwf2 = product.handle | append: '-freesample' -%}

  {% for sample in collections.free-wallpaper-samples.products %}

  {% if sample.handle == matchwf2 %}
  
    <product-form class="product-form {{ sample.handle }}">
      {%- form 'product', product, id: product_form_id'-freesample', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        <input type="hidden" name="id" value="{{ sample.selected_or_first_available_variant.id }}">
        <div class="product-form__buttons">
          <button
          type="submit"
          name="add"
          class="product-form__submit button nude sample_add"
        {% if sample.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
        {% include 'icon-sample' %}
        <span class="sample_button_text">
            {%- if sample.selected_or_first_available_variant.available -%}
              Order Sample <br>{{ sample.price | money }}
            {%- else -%}
              Samples unavailable
            {%- endif -%}
        </span>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </button>
        </div>
      {%- endform -%}
    </product-form>
    {% break %}
  {% endif %}
  {% endfor %}
  {% endpaginate %}
</div>

{% endif %}