<div class="text-with-text inner grid mt-{{ section.settings.margin_top }} mb-{{ section.settings.margin_bot }}">
  {%- for block in section.blocks -%}
  {% case block.type %}
  {%- when 'text' -%}
    <div class="text">
      <div class="flex vertical-{{ block.settings.desktop_text_box_position }} align-{{ block.settings.text_align }} color-{{ block.settings.color_scheme }}" {{ block.shopify_attributes }}>
        {%- if block.settings.heading != blank -%}
          <span class="h2">{{ block.settings.heading }}</span>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
        <div class="rte">
        {{ block.settings.text }}
        </div>
        {%- endif -%}
        {%- if block.settings.button_label != blank -%}
          <a{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %}>
            {{ block.settings.button_label | escape }}
          </a>
        {%- endif -%}
          
        
      </div>
    </div>
    {%- endcase -%}
    {%- endfor -%}
</div>

{% schema %}
{
"name": "2 Column Text",
"class": "spaced-section two_col-text",
"settings": [
  {
    "type": "select",
    "id": "margin_top",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "s",
        "label": "Small"
      },
      {
        "value": "m",
        "label": "Medium"
      },
      {
        "value": "l",
        "label": "Large"
      }
    ],
    "default": "m",
    "label": "spacing above",
    "info": "adjust the spacing for the panel"
  },
  {
    "type": "select",
    "id": "margin_bot",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "s",
        "label": "Small"
      },
      {
        "value": "m",
        "label": "Medium"
      },
      {
        "value": "l",
        "label": "Large"
      }
    ],
    "default": "m",
    "label": "spacing below",
    "info": "adjust the spacing for the panel"
  }
],
"blocks": [
  {
    "type": "text",
    "name": "t:sections.image-with-text.blocks.text.name",
    "limit": 2,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "t:sections.image-with-text.blocks.text.settings.text.label"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
        "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "white_text",
            "label": "white text"
          },
          {
            "value": "red_text",
            "label": "Red Text"
          },
          {
            "value": "dark_text",
            "label": "Dark Text"
          },
          {
            "value": "blue_text",
            "label": "Blue Text"
          }
        ],
        "default": "dark_text",
        "label": "t:sections.image-banner.settings.color_scheme.label",
        "info": "t:sections.image-banner.settings.color_scheme.info"
      },
      {
        "type": "select",
        "id": "desktop_text_box_position",
        "options": [
          {
            "value": "start",
            "label": "t:sections.image-banner.settings.desktop_text_box_position.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.image-banner.settings.desktop_text_box_position.options__2.label"
          },
          {
            "value": "end",
            "label": "t:sections.image-banner.settings.desktop_text_box_position.options__3.label"
          }
        ],
        "default": "start",
        "label": "t:sections.image-banner.settings.desktop_text_box_position.label"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centre"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "text Alignment"
      }
    ]
  }
],
"presets": [
  {
    "name": "Two Column Text",
    "blocks": [
      {
        "type": "text"
      }
    ]
  }
]
}
{% endschema %}