<div class="carousel pt-{{ section.settings.margin_top }} pb-{{ section.settings.margin_bot }}">
 <div class="collection_list-grid inner nomax">
  
<div class="swiffy-slider slider-item-show4 slider-item-reveal slider-item-nogap slider-item-ratio slider-item-ratio-1x1 slider-nav-square slider-nav-scrollbar slider-indicators-round slider-nav-animation slider-nav-animation-fadein">
<ul class="slider-container custom_scroll">  
      {%- for block in section.blocks -%}

    <li class="collection_item">
        <div id="slide{{ forloop.index }}">
          {%- if block.settings.collection.url != blank -%}
          <a href="{{ block.settings.collection.url }}" alt="{{ block.settings.collection.title }}">
          {%- endif -%}
          
          {% if block.settings.collection.featured_image != blank %}
            {%- assign collection_image = block.settings.collection.featured_image -%}
          {% else %}
            {% assign collection_image = blank %}
          {% endif %}

          {% unless collection_image == blank %}
          <picture class="collection_img">
              <source 
                srcset="{{ collection_image | img_url: '560x560', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                        {{ collection_image | img_url: '560x560', crop: 'center', format: 'pjpg'}}" 
                media="(min-width: 1440px)"
              />
              <source 
                srcset="{{ collection_image | img_url: '480x480', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                        {{ collection_image | img_url: '480x480', crop: 'center', format: 'pjpg'}}" 
                media="(min-width: 1260px)"
              />
              <source 
                srcset="{{ collection_image | img_url: '430x430', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                        {{ collection_image | img_url: '430x430', crop: 'center', format: 'pjpg'}}" 
                media="(min-width: 768px)"
              />
              <source 
              srcset="{{ collection_image | img_url: '768x768', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                      {{ collection_image | img_url: '768x768', crop: 'center', format: 'pjpg'}}" 
              media="(min-width: 620px)"
              />
              <source 
              srcset="{{ collection_image | img_url: '621x621', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                      {{ collection_image | img_url: '621x621', crop: 'center', format: 'pjpg'}}" 
              media="(min-width: 560px)"
              />
              <source 
              srcset="{{ collection_image | img_url: '558x558', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                      {{ collection_image | img_url: '558x558', crop: 'center', format: 'pjpg'}}" 
              media="(min-width: 444px)"
              />
              <source 
                srcset="{{ collection_image | img_url: '444x444', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                        {{ collection_image | img_url: '444x444', crop: 'center', format: 'pjpg'}}" 
                media="(min-width: 360px)"
              />
              <source 
                srcset="{{ collection_image | img_url: '360x360', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                        {{ collection_image | img_url: '360x360', crop: 'center', format: 'pjpg'}}" 
                media="(min-width: 321px)"
              />
              <source 
                srcset="{{ collection_image | img_url: '321x321', crop: 'center', format: 'pjpg', scale: 2 }} 2x,
                        {{ collection_image | img_url: '321x321', crop: 'center', format: 'pjpg'}}" 
                media="(min-width: 300px)"
              />
            <img loading="lazy" class="collection_img" src="{{ collection_image | img_url: '2x2', crop: 'center', format: 'pjpg'}}" alt="{{ collection_image.alt | escape }}" width="300" height="300" />
          </picture>
          {% endunless %}
          
          
          <div class="text {% if section.settings.titles_down %} titles_down{% else %} inpic{% endif %}">
            <h3 class="h5">
                {% if block.settings.title_image != blank %}
                {{ block.settings.title_image }}
                {% else %}
                {{ block.settings.collection.title }}
                {% endif %}
            </h3>
          </div>
          
          
          {%- if block.settings.collection.url != blank -%}
          </a>
          {%- endif -%}
        </div>
    </li>

    {%- endfor -%}
    </ul>
    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>
  </div>

</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "spaced-section collection-list-section",
  "max_blocks": 15,
  "settings": [
    {
      "type": "checkbox",
      "id": "styles",
      "label": "Enable styles",
      "default": false
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        }
      ],
      "default": "m",
      "label": "spacing above",
      "info": "Top Margin"
    },
    {
      "type": "select",
      "id": "margin_bot",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        }
      ],
      "default": "m",
      "label": "spacing below",
      "info": "Bottom Margin"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Custom title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
