{% if section.settings.styles %}
  {{ 'styles-slideshow.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if section.settings.make_logo_white -%}
<script>
  document.body.classList.add("white_logo");
</script>
{%- endif -%}

<div style="background-color:{{ section.settings.background }}" class="pt-{{ section.settings.margin_top }} pb-{{ section.settings.margin_bot }}">

<div class="slides">
  <div class="slideshow">

    <div class="swiffy-slider slider-item-nogap{% if section.settings.autoplay == true %} slider-nav-autoplay{% endif %} slider-indicators-round slider-nav-animation-slow"{% if section.settings.autoplay == true %} data-slider-nav-autoplay-interval="{{ section.settings.interval }}"{% endif %}>
      <ul class="slider-container carousel">
        {%- for block in section.blocks -%}
      <li class="slide-image">
          <div id="slide{{ forloop.index }}">
            {%- if block.settings.link != blank and block.settings.button_label == blank -%}
            <a href="{{ block.settings.link }}" alt="{{ block.settings.title }}">
            {%- endif -%}
            
            {%- if block.settings.image != blank -%}
            
            {%- assign landscape_image = block.settings.image -%} 
              
            {%- if block.settings.mobile_image != blank -%}
              {%- assign square_image = block.settings.mobile_image -%}
            {%- else -%}
              {%- assign square_image = block.settings.image -%}
            {%- endif -%}
            
            <picture class="heroshot">
              {%- if landscape_image.width >= 1240 and landscape_image.height >= 640 -%}
              <source srcset="{{ landscape_image | img_url: '1240x640', crop: 'center', format: 'pjpg' }}" media="(min-width: 1800px)" />
              {%- endif -%}
              {%- if landscape_image.width >= 1680 and landscape_image.height >= 867 -%}
              <source srcset="{{ landscape_image | img_url: '1680x867', crop: 'center', format: 'pjpg' }}" media="(min-width: 1440px)" />
              {%- endif -%}
              {%- if landscape_image.width >= 1240 and landscape_image.height >= 640 -%}
              <source srcset="{{ landscape_image | img_url: '1240x640', crop: 'center', format: 'pjpg' }}" media="(min-width: 1200px)" />
              {%- endif -%}
              {%- if landscape_image.width >= 1200 and landscape_image.height >= 620 -%}
              <source srcset="{{ landscape_image | img_url: '1200x620', crop: 'center', format: 'pjpg' }}" media="(min-width: 1024px)" />
              {%- endif -%}
              <source srcset="{{ landscape_image | img_url: '1024x528', crop: 'center', format: 'pjpg' }}" media="(min-width: 880px)" />
              
              <source srcset="{{ square_image | img_url: '880x586', crop: 'center', format: 'pjpg' }}" media="(min-width: 768px)" />
              <source srcset="{{ square_image | img_url: '768x512', crop: 'center', format: 'pjpg' }}" media="(min-width: 480px)" />
              <source srcset="{{ square_image | img_url: '480x320', crop: 'center', format: 'pjpg' }}" media="(min-width: 320px)" />
              <img{% unless forloop.index == 1 %} loading="lazy"{% endunless %} class="heroshot_image lazyimage" src="{{ square_image | img_url: '320x213' }}" alt="{{ square_image.alt | escape }}" width="{{ square_image.width }}" height="{{ square_image.height }}"/>
            </picture>
            
            {%- endif -%}
            
            
            <div class="caption flex color-{{ block.settings.color_scheme }}  align-{{ block.settings.text_align }}">
              {%- if block.settings.title != blank -%}
              <span class="h0">{{ block.settings.title }}</span>
              {%- endif -%}
              {%- if block.settings.link != blank and block.settings.button_label != blank -%}
              <div class="buttons {{ block.settings.button_color }}">
                <a class="button {{ block.settings.button_color }}"{% if block.settings.button_link != blank %} href="{{ block.settings.link }}"{% endif %} {% if block.settings.link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label | escape }}</a>
              </div>
              {%- endif -%}
            </div>
            
            
            {%- if block.settings.link != blank and block.settings.button_label == blank -%}
            </a>
            {%- endif -%}
          </div>
      </li>

      {%- endfor -%}
      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
      
      <ul class="slider-indicators">
        {%- for block in section.blocks -%}
          <li></li>
        {%- endfor -%}
      </ul>
      
    </div>
  </div> 
</div>
</div>
{% schema %}
{
"name": "Slideshow",
"class": "spaced-section hero-slideshow  slideshow",
"settings": [
  {
    "type": "color",
    "id": "background",
    "label": "Background Colour"
  },
  {
    "type": "checkbox",
    "id": "styles",
    "label": "Load Styles",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "autoplay",
    "label": "Autoplay slides",
    "default": false
  },
  {
    "type": "number",
    "id": "interval",
    "default": 450,
    "label": "Slideshow interval ms"
  },
  {
    "type": "select",
    "id": "margin_top",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "s",
        "label": "Small"
      },
      {
        "value": "m",
        "label": "Medium"
      },
      {
        "value": "l",
        "label": "Large"
      }
    ],
    "default": "m",
    "label": "spacing above",
    "info": "adjust the spacing for the panel"
  },
  {
    "type": "select",
    "id": "margin_bot",
    "options": [
      {
        "value": "none",
        "label": "None"
      },
      {
        "value": "s",
        "label": "Small"
      },
      {
        "value": "m",
        "label": "Medium"
      },
      {
        "value": "l",
        "label": "Large"
      }
    ],
    "default": "m",
    "label": "spacing below",
    "info": "adjust the spacing for the panel"
  }
],
"blocks": [
  {
    "type": "image",
    "name": "Slide Image",
    "limit": 8,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Caption Here",
        "label": "Image Caption"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "white_text",
            "label": "white text"
          },
          {
            "value": "red_text",
            "label": "Red Text"
          },
          {
            "value": "dark_text",
            "label": "Dark Text"
          },
          {
            "value": "blue_text",
            "label": "Blue Text"
          }
        ],
        "default": "dark_text",
        "label": "t:sections.image-banner.settings.color_scheme.label",
        "info": "t:sections.image-banner.settings.color_scheme.info"
      },
      {
      "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
           "value": "center",
            "label": "Centre"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "text Alignment"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.multicolumn.settings.button_label.label"
      },
      {
        "type": "select",
        "id": "button_color",
        "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "red",
            "label": "Red"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "default": "white",
        "label": "Button Colour",
        "info": "Choose the colour for the button"
      }
    ]
  }
],
"presets": [
  {
    "name": "Slideshow",
    "blocks": [
      {
        "type": "image"
      }
    ]
  }
]
}
{% endschema %}