{{ 'products.css' | asset_url | stylesheet_tag }}

<section class="outer">
  <div class="product grid product_page">
    <div class="prod_image_container">
      <div class="product-image grid length-{{ product.images.size }}">
        {% if product.images.size == 1 %}
        <div class="landscape single i-{{ forloop.index }}">
          <picture class="productShots">
            {% assign image = product.featured_image %}
            <source srcset="{{ image | img_url: '734x', scale: 2 }} 2x, {{ image | img_url: '734x' }}" media="(min-width: 1440px)" />
            <source srcset="{{ image | img_url: '734x', scale: 2 }} 2x, {{ image | img_url: '734x' }}" media="(min-width: 1200px)" />
            <source srcset="{{ image | img_url: '734x', scale: 2 }} 2x, {{ image | img_url: '734x' }}" media="(min-width: 1024px)" />
            <source srcset="{{ image | img_url: '651x', scale: 2 }} 2x, {{ image | img_url: '651x' }}" media="(min-width: 769px)" />
            <source srcset="{{ image | img_url: '735x', scale: 2 }} 2x, {{ image | img_url: '735x' }}" media="(min-width: 660px)" />
            <source srcset="{{ image | img_url: '644x', scale: 2 }} 2x, {{ image | img_url: '644x' }}" media="(min-width: 550px)" />
            <source srcset="{{ image | img_url: '534x', scale: 2 }} 2x, {{ image | img_url: '534x' }}" media="(min-width: 450px)" />
            <source srcset="{{ image | img_url: '434x', scale: 2 }} 2x, {{ image | img_url: '644x' }}" media="(min-width: 344px)" />
            <source srcset="{{ image | img_url: '328x', scale: 2 }} 2x, {{ image | img_url: '328x' }}" media="(min-width: 320px)" />
            <img class="prod-shot"{% if forloop.index > 1 %} loading="lazy"{% endif %} src="{{ image | img_url: '304x', crop: 'center' }}" alt="{{ image.alt | escape }}" width="{{image.width}}" height="{{image.height}}" />
          </picture>
        </div>
        {%- else -%}
          {%- for image in product.images -%}
          {%- if image.aspect_ratio == 1.0 -%}
          <div class="square i-{{ forloop.index }}" data-dot="doti-{{ forloop.index }}">
            <picture class="productShots">
              <source srcset="{{ image | img_url: '734x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '734x', crop: 'center' }}" media="(min-width: 1680px)" />
              <source srcset="{{ image | img_url: '734x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '734x', crop: 'center' }}" media="(min-width: 1440px)" />
              <source srcset="{{ image | img_url: '734x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '734x', crop: 'center' }}" media="(min-width: 1200px)" />
              <source srcset="{{ image | img_url: '734x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '734x', crop: 'center' }}" media="(min-width: 1024px)" />
              <source srcset="{{ image | img_url: '651x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '651x', crop: 'center' }}" media="(min-width: 769px)" />
              <source srcset="{{ image | img_url: '735x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '735x', crop: 'center' }}" media="(min-width: 660px)" />
              <source srcset="{{ image | img_url: '644x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '644x', crop: 'center' }}" media="(min-width: 550px)" />
              <source srcset="{{ image | img_url: '534x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '534x', crop: 'center' }}" media="(min-width: 450px)" />
              <source srcset="{{ image | img_url: '434x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '644x', crop: 'center' }}" media="(min-width: 344px)" />
              <source srcset="{{ image | img_url: '328x', crop: 'center', scale: 2 }} 2x, {{ image | img_url: '328x', crop: 'center' }}" media="(min-width: 320px)" />
              <img class="prod-shot"{% if forloop.index > 1 %} loading="lazy"{% endif %} src="{{ image | img_url: '304x', crop: 'center' }}" alt="{{ image.alt | escape }}" width="{{image.width}}" height="{{image.height}}" />
            </picture>
          </div>
          {%- else -%}
          <div class="landscape i-{{ forloop.index }}" data-dot="doti-{{ forloop.index }}">
            <picture class="productShots">
              <source srcset="{{ image | img_url: '734x', scale: 2 }} 2x, {{ image | img_url: '734x' }}" media="(min-width: 1440px)" />
              <source srcset="{{ image | img_url: '734x', scale: 2 }} 2x, {{ image | img_url: '734x' }}" media="(min-width: 1200px)" />
              <source srcset="{{ image | img_url: '734x', scale: 2 }} 2x, {{ image | img_url: '734x' }}" media="(min-width: 1024px)" />
              <source srcset="{{ image | img_url: '651x', scale: 2 }} 2x, {{ image | img_url: '651x' }}" media="(min-width: 769px)" />
              <source srcset="{{ image | img_url: '735x', scale: 2 }} 2x, {{ image | img_url: '735x' }}" media="(min-width: 660px)" />
              <source srcset="{{ image | img_url: '644x', scale: 2 }} 2x, {{ image | img_url: '644x' }}" media="(min-width: 550px)" />
              <source srcset="{{ image | img_url: '534x', scale: 2 }} 2x, {{ image | img_url: '534x' }}" media="(min-width: 450px)" />
              <source srcset="{{ image | img_url: '434x', scale: 2 }} 2x, {{ image | img_url: '644x' }}" media="(min-width: 344px)" />
              <source srcset="{{ image | img_url: '328x', scale: 2 }} 2x, {{ image | img_url: '328x' }}" media="(min-width: 320px)" />
              <img class="prod-shot"{% if forloop.index > 1 %} loading="lazy"{% endif %} src="{{ image | img_url: '304x', crop: 'center' }}" alt="{{ image.alt | escape }}" width="{{image.width}}" height="{{image.height}}" />
            </picture>
          </div>
          {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        </div>
      {% if product.images.size > 1 %}
      
      <script>
        function scrollTo(el, eel) {
          const elLeft = el.offsetLeft + el.offsetWidth;
          const elParentLeft = el.parentNode.offsetLeft + el.parentNode.offsetWidth;
          
          // check if element not in view
          if (elLeft >= elParentLeft + el.parentNode.scrollLeft) {
            el.parentNode.scrollLeft = elLeft - elParentLeft;
            eel.classList.add('alive');
          } else if (elLeft <= el.parentNode.offsetLeft + el.parentNode.scrollLeft) {
            el.parentNode.scrollLeft = el.offsetLeft - el.parentNode.offsetLeft;
          }
        }
      
      function handler(entries, observer) {
        for (entry of entries) {
          // console.log(entry);
          let doti = entry.target.dataset.dot;
          
          let butto = document.querySelector("."+doti);
          //console.log(butto);
          
          if (entry.isIntersecting) {
            entry.target.classList.add("intersecting");
            butto.classList.add("intersecting");
            //console.log("intersecting")
          } else {
            //console.log("not intersecting");
            butto.classList.remove("intersecting");
            entry.target.classList.remove("intersecting");
          }
        }
      }
      
      let observer = new IntersectionObserver(handler);
      
      
      </script>
      
        <div class="mobile_slideNav length-{{ product.images.size }} flex">
        {% for dot in product.images %}
          <button class="nude dotty doti-{{ forloop.index }}"><span></span></button>
          <script>
            document.querySelector(".doti-{{ forloop.index }}").onclick = function () {
              let slide = document.querySelector(".i-{{ forloop.index }}");
              let dot = document.querySelector(".doti-{{ forloop.index }}");
              scrollTo(slide, dot);
            };
            observer.observe(document.querySelector(".i-{{ forloop.index }}"));
          </script>
        {% endfor %}
        </div>
      {% endif %}
    </div>
    
    <div class="product_info">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container product__info-container--sticky">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        
        {% include 'breadcrumb' %}
        
        <!-- Title -->
        <h1 class="product__title{%-if product.tags contains 'Christmas gift' %} gift_tag {% endif %}" {{ section.shopify_attributes }}>       
          {{ product.title | escape }}
        </h1>
        <!-- End Title -->
        
        <!-- Short Description -->
        {% assign short_desc = product.metafields.my_fields.product_info %}
        {%- if short_desc != blank -%}
        <div class="product_description rte" {{ section.shopify_attributes }}>
          {{ short_desc }} <a href="#panel-1a">View details</a>
        </div>
        {%- endif -%}
        <!-- End  -->
        
        <ul class="features flex">
          {%- if product.metafields.prod_list.hand_icon_text != blank -%}
          <li class="flex">{% render 'icon-hand' %} {{ product.metafields.prod_list.hand_icon_text }}</li>
          {%- endif -%}
          {%- if product.metafields.prod_list.heart_icon_text != blank -%}
          <li class="flex">{% render 'icon-heart' %} {{ product.metafields.prod_list.heart_icon_text }}</li>
          {%- endif -%}
          {%- if product.metafields.prod_list.diamond_icon_text != blank -%}
          <li class="flex">{% render 'icon-diamond' %} {{ product.metafields.prod_list.diamond_icon_text }}</li>
          {%- endif -%}
          {%- if product.metafields.prod_list.earth_icon_text != blank -%}
          <li class="flex">{% render 'icon-earth' %} {{ product.metafields.prod_list.earth_icon_text }}</li>
          {%- endif -%}
          {%- if product.metafields.prod_list.vertical_repeat != blank -%}
          <li class="flex">{% render 'icon-vertical_repeat' %} {{ product.metafields.prod_list.vertical_repeat.value }}{{ product.metafields.prod_list.vertical_repeat.unit }} vertical repeat</li>
          {%- endif -%}
          {%- if product.metafields.prod_list.useable_width != blank -%}
          <li class="flex">{% render 'icon-useable_width' %} {{ product.metafields.prod_list.useable_width.value }}{{ product.metafields.prod_list.useable_width.unit }} useable width</li>
          {%- endif -%}
        </ul>
        

        
        {% capture "form_classes" -%}
          product-form product-form-{{ section.id }}
          {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
          {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
          {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
        {%- endcapture %}
        
        {%- if product.type == 'Fabric' or product.type == 'Wallpaper' or product.metafields.custom.sample.value != blank -%}
        <div class="sample_time relative">
        {%- else -%}
        <div>
        {%- endif -%}
        
        {% include 'add-to-cart-form' %}
        {% include 'product_page_samples' %}
        
        </div>
        
        <div class="product__tax caption rte">
          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
          {%- if shop.taxes_included -%}
            {{ 'products.product.include_taxes' | t }}
          {%- endif -%}
          {%- endif -%}

          {%- if shop.shipping_policy.body != blank -%}
          {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </div>
        
        
        
        {%- assign comp_1 = product.metafields.products.companion_product_1.value -%}
        {%- assign comp_2 = product.metafields.products.companion_product_2.value -%}
        {%- assign comp_3 = product.metafields.products.companion_product_3.value -%}
        {%- assign comp_4 = product.metafields.products.companion_product_4.value -%}
        {%- assign comp_title = product.metafields.products.companion_products_title -%}
        
        {%- if comp_1 != blank -%}
        <div class="companion_products">
          
        {%- if comp_title != blank -%}
          <strong>
            {{ comp_title }}
          </strong>
        {%- endif -%}
        <div class="flex">
          <a href="{{ comp_1.url }}" class="prod prod_1">
              <img src="{{ comp_1.featured_image | img_url: '120x120', crop: 'center' }}" alt="{{ comp_1.title }}"  width="60" height="60"/>
            {{ comp_1.title }}
          </a>
          {%- if comp_2 != blank -%}
          <a href="{{ comp_2.url }}" class="prod prod_2">
              <img src="{{ comp_2.featured_image | img_url: '120x120', crop: 'center' }}" alt="{{ comp_2.title }}" width="60" height="60" />
            {{ comp_2.title }}
          </a>
          {%- endif -%}
          {%- if comp_3 != blank -%}
          <a href="{{ comp_3.url }}" class="prod prod_3">
              <img src="{{ comp_3.featured_image | img_url: '120x120', crop: 'center' }}" alt="{{ comp_3.title }}" width="60" height="60" />
            {{ comp_3.title }}
          </a>
          {%- endif -%}
          {%- if comp_4 != blank -%}
          <a href="{{ comp_4.url }}" class="prod prod_4">
              <img src="{{ comp_4.featured_image | img_url: '120x120', crop: 'center' }}" alt="{{ comp_4.title }}" width="60" height="60" />
            {{ comp_4.title }}
          </a>
          {%- endif -%}
        </div>
        
        </div>
        {%- endif -%}
        
        
        
        {% include 'product_features_tags' %}
        
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

</section>


<script>
  
  function noSingles() {
    document.querySelectorAll('.variants .product-form__input').forEach( function(fieldsetta) {
      fieldsetta.classList.add("donuts");
      let cownt = 0;
      fieldsetta.querySelectorAll('input[type="radio"]').forEach( function(rads) {
        rads.classList.add("donuts");
        cownt++;
      });
      console.log(cownt);
      if(cownt == 1) {
        fieldsetta.hidden = true;
      }
    });
  }
  noSingles();
  
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
      let a = hiddenInput.value
      let b = event.currentTarget.value
      console.log(a);
      console.log(b);
    });
  });
</script>


<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>



{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "default": true,
      "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
      "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
    },
    {
    "type": "checkbox",
    "id": "enable_sticky_info",
    "default": true,
    "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "text",
      "id": "share_label",
      "label": "Share Label",
      "default": "Share"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ]
}
{% endschema %}
