{{ 'collections.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="template-search spaced-section{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %}">
  <div class="template-search__header  center">
    {%- if search.performed -%}
      <h1 class="h2">{{ 'templates.search.title' | t }}</h1>
    {%- else -%}
      <h1 class="h2">{{ 'general.search.search' | t }}</h1>
    {%- endif -%}
    <div class="template-search__search">
        <form action="{{ routes.search_url }}" method="get" role="search" class="search">
          <div class="field">
            <input
              class="search__input field__input"
              id="Search-In-Template"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
            >
            <input name="options[prefix]" type="hidden" value="last">   
            <button type="submit" class="button small" aria-label="{{ 'general.search.search' | t }}">
              {{ 'general.search.search' | t }}
            </button>
          </div>
        </form>

    </div>
    {%- if search.performed -%}
      {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%} 
        {%- if search.results_count > 0 -%}        
          <p role="status">{{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}</p>
        {%- endif -%}
      {%- endunless -%}
      {%- if search.results_count == 0 and search.filters == empty -%}        
        <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    {%- if search.filters != empty -%}
    
    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
      {{ 'facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
    
      <div class="outer" id="main-collection-filters" data-id="{{ section.id }}">
        {% render 'facets', results: search, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
      </div>
    {%- endif -%}
    {%- endif -%}
    <div id="ProductGridContainer">
      {%- if search.results.size == 0 and search.filters != empty -%}
        <div class="collection collection--empty inner" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: search_url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        {% paginate search.results by 68 %}
          <div class="template-search__results collection outer" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <ul id="product-grid" data-id="{{ section.id }}" class="grid product_grid">
              {%- for item in search.results -%}
                
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                    <li class="product_card">

                      {% render 'product-card',
                        product_card_product: item,
                        media_size: section.settings.image_ratio,
                        show_secondary_image: section.settings.show_secondary_image,
                        add_image_padding: section.settings.add_image_padding,
                        show_vendor: section.settings.show_vendor,
                        show_image_outline: section.settings.show_image_outline,
                        show_rating: section.settings.show_rating
                      %}
                    </li>
                    {%- when 'article' -%}
                    <li class="product_card article">
                      <a href="{{ item.url }}" class="card-wrapper{% unless item.image %} text-only{% endunless %}">
                            {%- if item.image -%}
                              <picture>
                                <source srcset="{{ item.image | img_url: '360x360', crop: 'center', format: 'pjpg' }}" media="(min-width: 1024px)" />
                                <source srcset="{{ item.image | img_url: '300x300', crop: 'center', format: 'pjpg' }}" media="(min-width: 768px)" />
                                <source srcset="{{ item.image | img_url: '250x250', crop: 'center', format: 'pjpg' }}" media="(min-width: 480px)" />
                                <source srcset="{{ item.image | img_url: '220x220', crop: 'center', format: 'pjpg' }}" media="(min-width: 320px)" />
                                <img
                                {% unless forloop.index == 1 %} loading="lazy"{% endunless %} 
                                class="product_image lazyimage" 
                                src="{{ item.image | img_url: '150x150' }}" 
                                alt="{{ item.image.alt | escape }}" 
                                width="150"
                                height="150"
                                />
                              </picture>
                            {%- endif -%}
                            <div class="card__content">
                              <h2 class="card__text h5">{{ item.title | truncate: 50 | escape }}</h2>
                            </div>
                            <div class="card__badge">
                              <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
                            </div>
                      </a>
                    </li>
                    {%- when 'page' -%}
                    <li class="product_card page">
                      <a href="{{ item.url }}" class="card-wrapper text-only">
                        <div class="square"></div>
                        <div class="card__content"><h2 class="card__text h5">{{ item.title | truncate: 50 | escape }}</h2></div>
                        <div class="card__badge">
                          <span class="badge color-background-1">{{ 'templates.search.page' | t }}</span>
                        </div>
                      </a>
                    </li>
                  {%- endcase -%}
                </li>
              {%- endfor -%}
            </ul>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate %}
            {%- endif -%}
          </div>
        {% endpaginate %}    
      {%- endif -%}
    </div> 
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-search.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-search.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    }
  ]
}
{% endschema %}
