{{ 'article.css' | asset_url | stylesheet_tag }}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class=" --narrow">
          {% render block %}
        </div>
      {%- when 'featured_image'-%}
        {%- if article.image -%}
          <div class="article-template__hero-container" {{ block.shopify_attributes }}>
            {%- assign landscape_image = article.image -%}
            {%- assign square_image = article.image -%}
            {% include 'image-hero-letterbox' %}
          </div>
        {%- endif -%}

        {%- when 'title'-%}
          <header class="inner narrow" {{ block.shopify_attributes }}>
            <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
            <div class="meta">
            {%- if block.settings.blog_show_date -%}
              {{ article.published_at | time_tag: format: 'date' }}
            {%- endif -%}
            {%- if block.settings.blog_show_author -%}
              <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ article.author }}</span>
              </span>
            {%- endif -%}
            </div>
          </header>

        {%- when 'content'-%}
          <div class="article-template inner narrow rte articlebody" itemprop="articleBody" {{ block.shopify_attributes }}>
              {{ article.content }}
          </div>
          
          {%- when 'images'-%}
          <div class="images inner grid rte" itemprop="articleBody" {{ block.shopify_attributes }}>
            {%- if block.settings.image_1 != blank -%}
              <img src="{{ block.settings.image_1 | img_url: '480x480' }}" ?>
            {%- endif -%}
            {%- if block.settings.image_2 != blank -%}
              <img src="{{ block.settings.image_2 | img_url: '480x480' }}" ?>
            {%- endif -%}
            {%- if block.settings.image_3 != blank -%}
              <img src="{{ block.settings.image_3 | img_url: '480x480' }}" ?>
            {%- endif -%}
            {%- if block.settings.image_4 != blank -%}
              <img src="{{ block.settings.image_4 | img_url: '480x480' }}" ?>
            {%- endif -%}
          </div>
          
        {%- when 'share' -%}
        
        <div class="share article-template__social-sharing inner narrow">
        <share-button class="share-button" {{ section.shopify_attributes }}>
          <button class="share-button__button hidden">
            {% render 'icon-share' %}
            {{ section.settings.share_label | escape }}
          </button>
          <details>
            <summary class="share-button__button">
              {% render 'icon-share' %}
              {{ section.settings.share_label | escape }}
            </summary>
            <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
              <div class="social_services">
              {% include  'share-icons' %}
              </div>
              <div class="flex">
                <div class="field">
                  <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                  </span>
                  <label class="visually-hidden" for="url">{{ 'general.share.share_url' | t }}</label>
                  <input type="text"
                        class="field__input"
                        id="url"
                        value="{{ shop.url | append: article.url }}"
                        placeholder="{{ 'general.share.share_url' | t }}"
                        onclick="this.select();"
                        readonly
                  >
                </div>
                <button class="share-button__close hidden no-js-hidden">
                  {% render 'icon-close' %}
                  <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                </button>
                <button class="share-button__copy no-js-hidden">
                  {% render 'icon-clipboard' %}
                  <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                   </button>
              </div>
            </div>
          </details>
        </share-button>
        <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
         </div>
    {%- endcase -%}
  {%- endfor -%}
  
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
    "type": "images",
    "name": "Image Grid",
    "limit": 8,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Share"
      },
      {
        "type": "image_picker",
        "label": "Image 1",
        "id": "image_1"
      },
      {
        "type": "image_picker",
        "label": "Image 2",
        "id": "image_2"
      },
      {
        "type": "image_picker",
        "label": "Image 3",
        "id": "image_3"
      },
      {
        "type": "image_picker",
        "label": "Image 4",
        "id": "image_4"
      }
    ]
  }
  ]
}
{% endschema %}
