<div class="multicolumn inner nomax{% if section.settings.add_spacing %} padd_top{% endif %} pt-{{ section.settings.margin_top }} pb-{{ section.settings.margin_bot }}">
  {% if section.settings.border %}
    <div class="border">
  {% endif %}
  {%- if section.settings.show_title -%}
    <h2 class="h2 mb-{{ section.settings.title_margin }} {{ section.settings.text_align }}">{{ section.settings.mc_title }}</h2>
  {%- endif -%}
  <ul class="multicolumn grid gap-{{ section.settings.gap }}">
    {%- for block in section.blocks -%}
      {%- include 'multi-column' -%}
    {%- endfor -%}
  </ul>
  {% if section.settings.border %}
    </div>
  {% endif %}
</div>

{% schema %}

  {
    "name": "t:sections.multicolumn.name",
    "class": "multicolumn-section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "mc_title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "default": false,
        "label": "Show the title"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "center",
            "label": "Centre"
          }, {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Align title text"
      },
      {
        "type": "select",
        "id": "title_margin",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "s",
            "label": "Small"
          },
          {
            "value": "sm",
            "label": "Small Medium"
          },
          {
            "value": "m",
            "label": "Medium"
          }, {
            "value": "l",
            "label": "Large"
          }, {
            "value": "xl",
            "label": "X Large"
          }
        ],
        "default": "l",
        "label": "Margin below title",
        "info": "Control the space beneath the title"
      }, {
        "type": "select",
        "id": "gap",
        "options": [
          {
            "value": "small",
            "label": "Small"
          }, {
            "value": "medium",
            "label": "Medium"
          }, {
            "value": "large",
            "label": "Large"
          }, {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "medium",
        "label": "Column Gap"
      }, {
        "type": "checkbox",
        "id": "border",
        "default": false,
        "label": "Add a big border"
      }, {
        "type": "select",
        "id": "margin_top",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "s",
            "label": "Small"
          },
          {
            "value": "sm",
            "label": "Small Medium"
          },
          {
            "value": "m",
            "label": "Medium"
          }, {
            "value": "l",
            "label": "Large"
          }, {
            "value": "xl",
            "label": "X Large"
          }
        ],
        "default": "none",
        "label": "spacing above",
        "info": "adjust the spacing for the panel"
      }, {
        "type": "select",
        "id": "margin_bot",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "s",
            "label": "Small"
          },
          {
            "value": "sm",
            "label": "Small Medium"
          },
          {
            "value": "m",
            "label": "Medium"
          }, {
            "value": "l",
            "label": "Large"
          }, {
            "value": "xl",
            "label": "X Large"
          }
        ],
        "default": "m",
        "label": "spacing below",
        "info": "adjust the spacing for the panel"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "options": [
              {
                "value": "half",
                "label": "Half"
              }, {
                "value": "one_third",
                "label": "One Third"
              }, {
                "value": "two_thirds",
                "label": "Two Thirds"
              }
            ],
            "default": "half",
            "label": "Column Width",
            "info": "applies mostly to desktop and tablets"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          },
          {
            "type": "select",
            "id": "auto_height",
            "options": [
              {
                "value": "landscape",
                "label": "Landscape"
              }, {
                "value": "portrait",
                "label": "Portrait"
              }, {
                "value": "square",
                "label": "Square"
              }, {
                "value": "none",
                "label": "Original image ratio"
              }
            ],
            "default": "none",
            "label": "Image Aspect Ratio"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Column",
            "label": "t:sections.multicolumn.blocks.column.settings.title.label"
          }, {
            "type": "select",
            "id": "text_align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Centre"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center",
            "label": "Text alignment"
          }, {
            "type": "select",
            "id": "heading_type",
            "options": [
              {
                "value": "h2",
                "label": "H2"
              }, {
                "value": "h3",
                "label": "H3"
              }, {
                "value": "h4",
                "label": "H4"
              }
            ],
            "default": "h2",
            "label": "Text Heading type"
          }, {
            "type": "text",
            "id": "button_label",
            "default": "link label",
            "label": "link label"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.multicolumn.settings.button_link.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multi Columns",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }


{% endschema %}