<div class="sidecart custom_scroll" id="sidecart">
<form action="{{ routes.cart_url }}" method="post" class="my-cart">
  <!-- data-ajax-cart-section makes the element's HTML update
  when the cart gets changed -->
  <div data-ajax-cart-section>
    <p class="intro">Item added to your cart</p>

  {% for product in collections.all.products %}
   {% case product.id %}
      {% when 40317287989306 %}
         {% assign my_product = product %}
   {% endcase %}
  {% endfor %}
    
    {% assign discountthreshold = all_products['40317287989306'] %}
      {{ discountthreshold.price | money_with_currency }} {{ discountthreshold.handle }}<br>
    <strong> {{ my_product.title }} <br> </strong>
    
      
    {% comment %}
    <div class="sample_alert">
      <p>You have 5 Free samples in your cart. Samples will now cost £1 (still pretty great we reckon)</p>
    </div>
    {% endcomment %}
    <div class="my-cart__items" data-ajax-cart-section-scroll>
      {{ iso_code }}
      {% for item in cart.items %}
      {% if item.title == "Pouch" %}
      {% if cart.total_price >= 4000 and cart.currency.iso_code == "GBP" %}
        <div class="cart_item flex" style="padding: 4px; border: 1px solid #89c183;">
          <a href="{{ item.url }}">
            <picture class="productShots">
              <source srcset="{{  item.image | img_url: '80x80', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '80x80', crop: 'center' }}" media="(min-width: 320px)" />
              <source srcset="{{  item.image | img_url: '80x80', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '80x80', crop: 'center' }}" media="(min-width: 300px)" />
            <img class="prod-shot" style="display:block" src="{{  item.image | img_url: '80x80', crop: 'center' }}" alt="{{  item.image.alt | escape }}" width="80" height="80" />
            </picture>
          </a>
          <div class="cart_item_text">
            {% comment %} 
            <a href="/cart/change?line={{ item_index }}&amp;quantity=0" class="remove-button" data-ajax-cart-request-button="">
              <small class="close_left">Remove</small>
            </a>
            {% endcomment %}
            <p class="item_title" style="margin:8px 0;">{{ item.title }} - FREE GIFT</p>
            {% comment %}
            <div class="flex qty">
              <label>Quantity:</label>
              <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
              <input data-ajax-cart-quantity-input="{{ item_index }}"
                name="updates[]" 
                value="{{ item.quantity }}" 
                type="number" />
            </div>
            <div>{{ item.final_price | money }}</div>
            {% endcomment %}
            <div>{{ item.final_price | money }}</div>
            <!-- Container for errors -->
            <div data-ajax-cart-messages="{{ item.key }}"></div>
        
            <div class="visually-hidden">Total: <strong>{{ item.final_line_price | money }}</strong></div>
          </div>
        </div>
      {% endif %}
        {% break %}
      {% endif %}
      {% endfor %}
      
      {% for item in cart.items %}
        {% assign item_index = forloop.index %}
         {% if item_index == 1 and item.title != "Pouch" %}
        <div class="cart_item flex">
          <a href="{{ item.url }}">
            <picture class="productShots">
              <source srcset="{{  item.image | img_url: '120x120', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '120x120', crop: 'center' }}" media="(min-width: 320px)" />
              <source srcset="{{  item.image | img_url: '120x120', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '120x120', crop: 'center' }}" media="(min-width: 300px)" />
            <img class="prod-shot" src="{{  item.image | img_url: '120x120', crop: 'center' }}" alt="{{  item.image.alt | escape }}" width="120" height="120" />
            </picture>
          </a>
          <div class="cart_item_text">
            {% comment %} 
            <a href="/cart/change?line={{ item_index }}&amp;quantity=0" class="remove-button" data-ajax-cart-request-button="">
              <small class="close_left">Remove</small>
            </a>
            {% endcomment %}
            <p class="item_title">{{ item.title }}</p>
            {% comment %}
            <div class="flex qty">
              <label>Quantity:</label>
              <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
              <input data-ajax-cart-quantity-input="{{ item_index }}"
                name="updates[]" 
                value="{{ item.quantity }}" 
                type="number" />
            </div>
            {% endcomment %}
            <div>{{ item.final_price | money }}</div>
            <!-- Container for errors -->
            <div data-ajax-cart-messages="{{ item.key }}"></div>
    
            <div class="visually-hidden">Total: <strong>{{ item.final_line_price | money }}</strong></div>
          </div>
        </div>
          {% break %}
        {% elsif item_index == 2 and item.title != "Pouch" %}
        <div class="cart_item flex">
          <a href="{{ item.url }}">
            <picture class="productShots">
              <source srcset="{{  item.image | img_url: '120x120', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '120x120', crop: 'center' }}" media="(min-width: 320px)" />
              <source srcset="{{  item.image | img_url: '120x120', scale: 2, crop: 'center' }} 2x, {{  item.image | img_url: '120x120', crop: 'center' }}" media="(min-width: 300px)" />
            <img class="prod-shot" src="{{  item.image | img_url: '120x120', crop: 'center' }}" alt="{{  item.image.alt | escape }}" width="120" height="120" />
            </picture>
          </a>
          <div class="cart_item_text">
            {% comment %} 
            <a href="/cart/change?line={{ item_index }}&amp;quantity=0" class="remove-button" data-ajax-cart-request-button="">
              <small class="close_left">Remove</small>
            </a>
            {% endcomment %}
            <p class="item_title">{{ item.title }}</p>
            {% comment %}
            <div class="flex qty">
              <label>Quantity:</label>
              <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
              <input data-ajax-cart-quantity-input="{{ item_index }}"
                name="updates[]" 
                value="{{ item.quantity }}" 
                type="number" />
            </div>
            {% endcomment %}
            <div>{{ item.final_price | money }}</div>
            <!-- Container for errors -->
            <div data-ajax-cart-messages="{{ item.key }}"></div>
        
            <div class="visually-hidden">Total: <strong>{{ item.final_line_price | money }}</strong></div>
          </div>
        </div>
          {% endif %}
      {% endfor %}
    </div>
    
    <!-- data-ajax-cart-static-element keeps the container unchanged
    when the cart and the surrounding HTML get updated -->
    <div data-ajax-cart-static-element class="my-cart__app-container"></div>
    <a href="/cart" class="button pink">View Cart</a>
    <button type="submit" name="checkout" class="button">
      Checkout — (<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }} </span> {% if cart.item_count == 1 %}Item{% else %}Items{% endif %})
    </button> 
    
  </div>
</form>
<button id="closeCartx" class="closecart button nude">
  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.83958 7.6497L1.07158 14.4671C0.883553 14.6565 0.883553 14.9633 1.07158 15.1527C1.16547 15.2475 1.28875 15.2947 1.4118 15.2947C1.53508 15.2947 1.65812 15.2475 1.75201 15.1527L8.5709 8.28408L15.3898 15.1527C15.4839 15.2475 15.607 15.2947 15.73 15.2947C15.853 15.2947 15.9763 15.2475 16.0702 15.1527C16.2582 14.9633 16.2582 14.6565 16.0702 14.4671L9.30246 7.6497L16.0748 0.827506C16.2628 0.638107 16.2628 0.331267 16.0748 0.141868C15.8867 -0.0472895 15.5821 -0.0472895 15.3943 0.141868L8.57114 7.01533L1.74723 0.142109C1.55921 -0.0470488 1.25483 -0.0470488 1.0668 0.142109C0.878775 0.331508 0.878775 0.638348 1.0668 0.827746L7.83958 7.6497Z" fill="#1D1D1B"/>
  </svg>

</button>
</div>
<button class="cart_close button nude" id="closeCart"><span class="visually-hidden">Close Cart Drawer</span></button>

<script>
  // let cartToggle= document.getElementById('cartToggle');
  let closeCartx= document.getElementById('closeCartx');
  let closeCart= document.getElementById('closeCart');
  let sideCart= document.getElementById('sidecart');

  closeCartx.addEventListener('click', function (event){
    if (sideCart.classList.contains('active')) {
      sideCart.classList.remove('active');
      document.body.classList.remove("sidecart-active");
      setTimeout(function() {
        sideCart.classList.remove('alive');
      }, 500);
    }
  });
  closeCart.addEventListener('click', function (event){
    if (sideCart.classList.contains('active')) {
      sideCart.classList.remove('active');
      document.body.classList.remove("sidecart-active");
      setTimeout(function() {
        sideCart.classList.remove('alive');
      }, 500);
    }
  });
</script>

{% schema %} { "name": "My Cart" } {% endschema %}