<div class="bg-{{ section.settings.bg }} mt-{{ section.settings.margin_top }} mb-{{ section.settings.margin_bot }}">
  <div class="{% if section.settings.image != blank %}image-bg inner{% else %}bunting{% endif %}">
    <div class="quote_hero">
    {%- if section.settings.image != blank -%}
    
    {%- assign landscape_image = section.settings.image -%} 
      
    {%- if section.settings.mobile_image != blank -%}
      {%- assign square_image = section.settings.mobile_image -%}
    {%- else -%}
      {%- assign square_image = section.settings.image -%}
    {%- endif -%}
    
      {% include 'image-hero-constrained' %}
    {%- endif -%}
    </div>
    {%- if section.settings.quote != blank -%}
      {% if section.settings.image != blank %}
      <div class="absolute bg-{{ section.settings.bg_color_scheme }}">
      {% endif %}
        <div class="flex inner vertical-{{ section.settings.desktop_text_box_position }} align-{{ section.settings.text_align }} color-{{ section.settings.color_scheme }}">
        <div class="quote">
          <blockquote class="color-{{ section.settings.color_scheme }} text-{{ section.settings.heading_size }}">
            {{ section.settings.quote }}
          </blockquote>
          {%- if section.settings.cite != blank -%}
          <cite class="color-{{ section.settings.color_scheme }}">{{ section.settings.cite }}</cite>
        {%- endif -%}
        </div>
      </div>
      {% if section.settings.image != blank %} 
      </div>
      {% endif %}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Simple Quote",
  "tag": "section",
  "class": "quote-section",
  "settings": [
    {
      "type": "richtext",
      "id": "quote",
      "default": "<p>Molly Mahon has a magical, modern eye for block printing. I have long been a fan of her work</p>",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "cite",
      "default": "- Cath Kidston MBE",
      "label": "Citaton"
    },
    {
      "type": "select",
      "id": "bg",
      "options": [
        {
          "value": "none",
          "label": "Transparent"
        },
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "pink",
          "label": "Pink"
        }
      ],
      "default": "green",
      "label": "Background Colour"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "extra_large",
          "label": "Extra Large"
        }
      ],
      "default": "medium",
      "label": "Quote Text Size"
    },
    {
    "type": "select",
    "id": "vertical_alignment",
    "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Block Position on desktop"
    },
    {
    "type": "select",
    "id": "alignment",
    "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Justification"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "white_text",
          "label": "white text"
        },
        {
          "value": "red_text",
          "label": "Red Text"
        },
        {
          "value": "dark_text",
          "label": "Dark Text"
        },
        {
          "value": "blue_text",
          "label": "Blue Text"
        }
      ],
      "default": "white_text",
      "label": "t:sections.image-banner.settings.color_scheme.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "select",
      "id": "bg_color_scheme",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "darken",
          "label": "Darken"
        },
        {
          "value": "lighten",
          "label": "Lighten"
        }
      ],
      "default": "none",
      "label": "Text and image background adjust"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        }
      ],
      "default": "none",
      "label": "spacing above",
      "info": "Top Margin"
    },
    {
      "type": "select",
      "id": "margin_bot",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "s",
          "label": "Small"
        },
        {
          "value": "m",
          "label": "Medium"
        },
        {
          "value": "l",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "X Large"
        }
      ],
      "default": "none",
      "label": "spacing below",
      "info": "Bottom Margin"
    }
  ],
  "presets": [
    {
      "name": "Simple Quote"
    }
  ]
}
{% endschema %}
