
<div class="flex justify-{{ section.settings.vertical_alignment }} align-{{ section.settings.alignment }}">
<div class="text color-{{ section.settings.color_scheme }} inset">
  {%- if section.settings.title != blank -%}
  <h2 class="{{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
  {%- endif -%}
  {%- if section.settings.text != blank -%}
  <div class="rte">
    {{ section.settings.text }}
  </div>
  {%- endif -%}
</div>
</div>

{% schema %}
{
  "name": "Title and Text",
  "tag": "section",
  "class": "text inner",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "default": "Outstanding prints",
    "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Header Size"
    },
    {
    "type": "richtext",
    "id": "text",
    "default": "<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>",
    "label": "Text"
    },
    {
    "type": "select",
    "id": "vertical_alignment",
    "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Block Position on desktop"
    },
    {
    "type": "select",
    "id": "alignment",
    "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Text Justification"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "white_text",
          "label": "white text"
        },
        {
          "value": "red_text",
          "label": "Red Text"
        },
        {
          "value": "dark_text",
          "label": "Dark Text"
        },
        {
          "value": "blue_text",
          "label": "Blue Text"
        }
      ],
      "default": "red_text",
      "label": "t:sections.image-banner.settings.color_scheme.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    }
  ],
  "presets": [
    {
      "name": "Title and Text"
    }
  ]
}
{% endschema %}